<html>

<head>
  <title>Sponsor Bytesized & Byteconf</title>
  <meta name="og:title" content="Sponsor Bytesized & Byteconf">
  <meta name="og:description" content="Learn more about sponsoring Bytesized & Byteconf">
  <meta property="og:image"
    content="https://f000.backblazeb2.com/file/bytesized-assets/images/bytesized-sponsor-social.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@bytesizedcode">
</head>

<body></body>

</html>