<html>

<head>
  <title>Bytesized Weekly</title>
  <meta name="og:title" content="Bytesized Weekly">
  <meta name="og:description" content="Our free weekly newsletter featuring what's new in web development">
  <meta property="og:image" content="https://f000.backblazeb2.com/file/bytesized-assets/images/bytesized-social.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@bytesizedcode">
</head>

<body></body>

</html>